/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
	white-space: normal;
	text-align: center;
	word-break: break-all;
}

* {
    padding:0;
    margin:0;
    box-sizing:border-box;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
	font-size: 14px;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

.border-top {
	border-top: 1px solid #e5e5e5;
}

.border-bottom {
	border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
	box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
	font-size: 1rem;
	line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
    font-family:"Lato", sans-serif;
    font-weight:400;
}

.main {
    padding: 30px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	white-space: nowrap;
	/* Set the fixed height of the footer here */
	height: 60px;
	line-height: 60px; /* Vertically center the text there */
}

.persona-form {
	max-width: 990px;
	margin: auto;
}

.home-header {
    height: 90vh;
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.61), rgba(191, 80, 80, 0.82)), url(../img/final-smash.jpg);
    background-size: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 0, 100% 3vh, 100% 80vh, 0 100%);
}

.text-box {
    position:absolute;
    top:40%;
    left:50%;
    transform: translate(-50%, -50%);
    .text-center {
        text-transform:uppercase;
    }
}

.main-heading {
    display:block;
    font-size:60px;
    font-weight:400;
    letter-spacing:30px;
    color:white;
}

.sub-heading {
    display:block;
    font-size:25px;
    font-weight:700;
    letter-spacing:13px;
    color:white;
}

.random-persona {
	display:flex;
	justify-content:center;

	.persona-box {
		&[v-cloak] {
			display:none;
		}

		table {
			@media screen and (max-width: 480px) {
				font-size:12px;
			}
		}
	}
}


/* Animation */
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    80% {
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    80% {
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}