@{
    ViewData["Title"] = "Home Page";
}
<div class="home-header">
    <div class="text-box">
        <div class="text-center">
            <h1 class="main-heading">Welcome</h1>
            <h2 class="sub-heading">Find your favorite Persona</h2>
        </div>
    </div>
</div>



<div class="random-persona container">
    <div v-if="loading === 'true'">Loading...</div>
    <div class="persona-box" v-cloak>
        <h2>{{random.name}}</h2>
        <p>{{random.description}}</p>
        <p>Level: {{random.level}}</p>
        <ul class="stats">
            <li v-for="(stat, statname) in random.stats">{{statname}}: {{stat}}</li>
        </ul>
        <div class="table-responsive-md">
            <table class="table">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Effect</th>
                        <th>Power</th>
                        <th>Cost</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in random.skills">
                        <td>
                            {{item.elementName}}
                        </td>
                        <td>
                            {{item.skillName}}
                        </td>
                        <td>
                            {{item.effect}}
                        </td>
                        <td>
                            {{item.power}}
                        </td>
                        <td>
                            {{item.cost.amount}} {{item.cost.resource}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>