@{
    ViewData["Title"] = "Home Page";
}
<div class="home-header">
    <div class="text-box">
        <div class="text-center">
            <h1 class="main-heading">Welcome</h1>
            <h2 class="sub-heading">Find your favorite Persona</h2>
        </div>
        <a href="#" class="btn btn-white btn-scroll">View a random Persona</a>
    </div>
</div>



<div class="random-persona container scroll-to">
    <div v-if="loading === 'true'">Loading...</div>
    <div class="persona-box" v-cloak>
        <h2>{{random.name}}</h2>
        <p class="description">{{random.description}}</p>
        <div class="section-row">
            <div class="section col-4">
                <div class="info-wrapper">
                    <p class="info-name">Arcana</p>
                    <p class="info-data">{{random.arcana}}</p>
                </div>
                <div class="info-wrapper">
                    <p class="info-name">Resist Elements</p>
                    <p class="info-data" v-for="elm in random.resistElements">{{elm.name}}</p>
                </div>
            </div>
            <div class="section col-2">
                <div class="info-wrapper">
                    <p class="info-name">Level</p>
                    <p class="info-data">{{random.level}}</p>
                </div>
                <div class="info-wrapper">
                    <p class="info-name">Weak Elements</p>
                    <p class="info-data" v-for="elm in random.weakElements">{{elm.name}}</p>
                </div>
            </div>
            <div class="section col-6">
                <div class="stats">
                    <div class="statname">
                        <p>Strength</p>
                        <p>Magic</p>
                        <p>Endurance</p>
                        <p>Agility</p>
                        <p>Luck</p>


                    </div>
                    <div class="stat">
                        <p v-for="(stat, statname) in random.stats">
                            {{stat}}
                            @*<div class="progress-bar" v-for="(stat, statname) in random.stats">
                            <div style="width:10px" class="progress"></div>
                        </div>*@
                            <progress max="100" v-bind:value="stat">{{stat}}%</progress>
                        </p>
                    </div>
                </div>
            </div>
            
        </div>
        
        <div class="table-responsive-md">
            <table class="table">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Name</th>
                        <th>Effect</th>
                        <th>Power</th>
                        <th>Cost</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in random.skills">
                        <td>
                            {{item.elementName}}
                        </td>
                        <td>
                            {{item.skillName}}
                        </td>
                        <td>
                            {{item.effect}}
                        </td>
                        <td>
                            {{item.power}}
                        </td>
                        <td>
                            {{item.cost.amount}} {{item.cost.resource}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>